.HD {
    position: relative;
    width: auto;
    height: 2810px;
    margin: 0 auto;
    max-width: 1440px;

    background: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_1 {
    position: relative;
    width: 100%;
}

.header_1_1 {
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: left center;
}

.scr {
    position: absolute;
    width: 117px;
    height: 15px;
    left: 109.5px;
    top: 221px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 3.7px;
    
    color: #FFFFFF;
    }
