.HD {
    position: relative;
    width: 1440px;
    height: 2810px;

    background: #FFFFFF;
}
.header {
    position: absolute;
    width: 1440px;
    height: 768px;
    left: calc(50% - 1440px/2);
    top: 0px;

}

.header_1 {
    position: absolute;
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 0px;
    
    background: #D8D8D8;
    border: 1px solid #979797;
    box-sizing: border-box;

}

.header_1_1 {
    position: absolute;
    width: 1438px;
    height: 769px;
    left: 1px;
    top: -1px;

}

.scr {
    position: absolute;
    width: 117px;
    height: 15px;
    left: 661.5px;
    top: 682px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 3.7px;
    
    color: #FFFFFF;

    }

.an {
    position: absolute;
    width: 386px;
    height: 22px;
    left: 527.5px;
    top: 439px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
/* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;

}

.par {
    position: absolute;
    width: 576px;
    height: 60px;
    left: 435px;
    top: 380px;

    font-family: BebasNeueBold;
    font-size: 33px;
    line-height: 70px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 5.70937px;

    color: #FFFFFF;

}

.projeco-logo {
    position: absolute;
    width: 101.62px;
    height: 23px;
    left: 629px;
    top: 20px;
}

.Triangle {
    position: absolute;
    left: 86.72%;
    right: 11.05%;
    top: 4.48%;
    bottom: 4.61%;

}

.nav_bar {
    position: absolute;
    width: 1442px;
    height: 65px;
    left: calc(50% - 1442px/2);
    top: 768px;

    list-style-type: none;

}

.nav_bar_class {
    position: absolute;
    width: 1442px;
    height: 65px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
}

.nav_bar_class__1 {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 781.5px;
    top: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.09091px;
    text-decoration: none;

    color: #48555B;
}

.nav_bar_class__2 {
    position: absolute;
    width: 47px;
    height: 16px;
    left: 869.5px;
    top: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.09091px;
    text-decoration: none;

    color: #00A4E5;

}

.nav_bar_class__3 {
    position: absolute;
    width: 61px;
    height: 16px;
    left: 959px;
    top: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.09091px;
    text-decoration: none;

    color: #48555B;

}

.nav_bar_class__4 {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 1059px;
    top: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.09091px;
    text-decoration: none;

    color: #48555B;

}

.nav_bar_class__5 {
    position: absolute;
    width: 63px;
    height: 16px;
    left: 1129px;
    top: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.09091px;
    text-decoration: none;

    color: #48555B;
}

.projeco-logo-black {
    position: absolute;
    width: 79.53px;
    height: 18px;
    left: 151px;
    top: 10px;
}

.KONSTRU_1 {
    position: absolute;
    left: -0.08%;
    right: -0.15%;
    top: 2.62%;
    bottom: 6.13%;

}

.Triangle_1 {
    position: absolute;
    left: 54.72%;
    right: 11.05%;
    top: 4.48%;
    bottom: 4.61%;

}

.about {
    position: absolute;
    width: 941px;
    height: 344px;
    left: 249px;
    top: 891px;
    display: flex;

}

.our {
    position: absolute;
    width: 121px;
    height: 25px;
    left: 411px;
    top: -1px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
   /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 2.30625px;

    color: #48555B;

}

.line {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 400px;
    top: 34px;

    /* border: 2px solid #00A4E5; */
}

.fou {
    position: absolute;
    width: 405.08px;
    height: 81px;
    left: -90px;
    top: 116px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.1875px;

    color: #48555B;

}

.lor {
    position: absolute;
    width: 405.08px;
    height: 115px;
    left: -90px;
    top: 227px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;
}

.plan {
    position: absolute;
    width: 140px;
    height: 224px;
    left: 482px;
    top: 120px;

}

.foto_1 {
    position: absolute;
    width: 140px;
    height: 224px;
    left: 0px;
    top: 0px;

    background: #D8D8D8;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);

}

.wep {
    position: absolute;
    width: 68px;
    height: 58px;
    left: 14px;
    top: 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    /* or 121% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #FFFFFF;
}

.manage {
    position: absolute;
    width: 140px;
    height: 224px;
    left: 642px;
    top: 120px;

}

.foto_2 {
    position: absolute;
    width: 140px;
    height: 224px;
    left: 0px;
    top: 0px;

    background: #D8D8D8;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3); 

}

.wep_1 {
    position: absolute;
    width: 110px;
    height: 58px;
    left: 14px;
    top: 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
   /* or 121% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #FFFFFF;

}

.deliver {
    position: absolute;
    width: 140px;
    height: 224px;
    left: 801px;
    top: 120px;

}

.foto_3 {
    position: absolute;
    width: 140px;
    height: 224px;
    left: 0px;
    top: 0px;

    background: #D8D8D8;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);
}

.wep_2 {
    position: absolute;
    width: 76px;
    height: 58px;
    left: 14px;
    top: 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
   /* or 121% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #FFFFFF;
}

.services {
    position: absolute;
    width: 940px;
    height: 446px;
    left: calc(50% - 940px/2);
    bottom: 1011px

}

.title {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 0px;
    top: 0px;
}

.title_1 {
    position: absolute;
    width: 198px;
    height: 25px;
    left: -90px;
    top: -25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    letter-spacing: 2.30625px;

    color: #48555B;

}

.Line_1 {
    position: absolute;
    width: 50px;
    height: 2px;
    left: -90px;
    top: 34px;
}

.all_services {
    position: absolute;
    width: 110px;
    height: 40px;
    left: 790px;
    top: -10px;
    

    /* position: absolute;
    width: 150px;
    height: 40px;
    left: 0px;
    top: 0px; */

    background: #00A4E5;

}

.all_services_1 {
    position: absolute;
    width: 92px;
    height: 18px;
    left: 30px;
    top: 10px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;

    color: #FFFFFF;

}

.all_services_1_1 {
    position: absolute;
    width: 405.4px;
    height: 38px;
    left: 253px;
    top: 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    /* or 173% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #48555B;

}

.services_3-3 {
    position: absolute;
    width: 295px;
    height: 330px;
    left: 615px;
    top: 116px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;

}

.foto_6 {
    position: absolute;
    width: 65.62px;
    height: 75px;
    left: 23px;
    top: 38px;

}

.services_3_3 {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 23px;
    top: 138px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.426667px;

    color: #48555B;

}

.services_3__3 {
    position: absolute;
    width: 250px;
    height: 92px;
    left: 23px;
    top: 199px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;

}

.services_2-2 {
    position: absolute;
    width: 295px;
    height: 330px;
    left: 283px;
    top: 116px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;

}

.foto_5 {
    position: absolute;
    width: 67.74px;
    height: 75px;
    left: 23px;
    top: 38px;
}

.services_2_2 {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 23px;
    top: 138px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.426667px;

    color: #48555B;

}

.services_2__2 {
    position: absolute;
    width: 250px;
    height: 92px;
    left: 23px;
    top: 199px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;

}

.services_1-1 {
    position: absolute;
    width: 295px;
    height: 330px;
    left: -50px;
    top: 116px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;

}

.services_1_1 {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 23px;
    top: 138px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.426667px;

    color: #48555B;
}

.services_1__1 {
    position: absolute;
    width: 250px;
    height: 92px;
    left: 23px;
    top: 199px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;

}

.foto_4 {
    position: absolute;
    width: 70.59px;
    height: 75px;
    left: 23px;
    top: 38px;
}

.get-in {
    position: absolute;
    width: 1440px;
    height: 499px;
    left: calc(50% - 1440px/2);
    bottom: 397px;

    }

.get-in_fon {
    position: absolute;
    width: 1440px;
    height: 498.24px;
    left: 0px;
    top: 0px;

}

.get-in_fon_text {
    position: absolute;
    width: 350px;
    height: 72px;
    left: 545px;
    top: 120px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    
    color: #48555B;

    }

    .contact-bth {
        position: absolute;
        width: 110px;
        height: 40px;
        left: 645px;
        top: 227px;
        
        background: #00A4E5;

    }

    .contact-bth_text {
        position: absolute;
        width: 98px;
        height: 18px;
        left: 26px;
        top: 11px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        /* identical to box height */
        
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.5px;
        text-decoration: none;
        
        color: #FFFFFF;
    
    }

    .newsletter {
        position: absolute;
        width: 1440px;
        height: 101px;
        left: calc(50% - 1440px/2);
        bottom: 298px;

        background: #171819;

    }

.content {
            position: absolute;
            width: 685px;
            height: 40px;
            left: 378px;
            top: 30px;

     }

.content_text {
            position: absolute;
            width: 216px;
            height: 30px;
            left: 0px;
            top: 5px;
            
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 100px;
            /* identical to box height */
            
            display: flex;
            align-items: flex-end;
            text-align: center;
            letter-spacing: 0.846154px;
            
            color: #FFFFFF;
        
    }

.form {
            position: absolute;
            width: 250px;
            height: 40px;
            left: 286px;
            top: -15px;
            
            background: #FFFFFF;
            border: 1px solid #979797;
            box-sizing: border-box;
        
}

.form__sur {
            position: absolute;
            width: 136px;
            height: 19px;
            left: 10px;
            top: 11px;
            
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            /* identical to box height */
            
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.07px;
            
            color: #48555B;
            
}

.form__sur_1 {
    position: absolute;
    width: 136px;
    height: 19px;
    left: 10px;
    top: -5px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.07px;
    
    color: #48555B;
    border: 2px solid transparent;
}

.button_kap {
    position: absolute;
    width: 150px;
    height: 36px;
    left: 249px;
    top: -1px;
    border: 2px solid transparent;
    
    background: #00A4E5;
}

.button_kaps_1 {
    position: absolute;
    width: 52px;
    height: 18px;
    left: 48.5px;
    top: 11px;
    border: none;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.5px;
    
    cursor: pointer;
    outline: none;

    color: #FFFFFF;
    background: #00A4E5;

}

.foorets {
    position: absolute;
    width: 1440px;
    height: 299px;
    left: calc(50% - 1440px/2);
    bottom: 0px;

    background: #141A20;

}

.foorets_1 {
    position: absolute;
    width: 1440px;
    height: 240px;
    left: 250px;
    top: 30px;
    /* display: flex;
    align-items: flex-end;
    flex-direction: column; */
    
    

}

.foo_text_1 {
    position: absolute;
    width: 59px;
    height: 15px;
    left: 0px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.846154px;
    
    color: #FFFFFF;

}

.foo_text_2 {
    position: absolute;
    width: 250px;
    height: 76px;
    left: 0px;
    top: 72px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    /* or 173% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.85px;
    
    color: #FFFFFF;

}

.foo_img {
    position: absolute;
    width: 101.62px;
    height: 23px;
    left: 0px;
    top: 34px;
    
    }

.foo_img_1 {
    position: absolute;
    left: -0.08%;
    right: -0.15%;
    top: 2.62%;
    bottom: 6.13%;
    
}

.foo_img_2 {
    position: absolute;
    left: 58.72%;
    right: 11.05%;
    top: 4.48%;
    bottom: 4.61%;

}

.foorets_2 {
    position: absolute;
    width: 262px;
    height: 150px;
    left: 570px;
    top: 42px;

}

.lihome {
    position: absolute;
    width: 76px;
    height: 125px;
    left: 0px;
    top: 25px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 25px;
    /* or 227% */
    
    display: flex;
    align-items: left;
    letter-spacing: 0.846154px;
    flex-direction: column;
    
    color: #FFFFFF;
    }

.lins {
    position: absolute;
    width: 34px;
    height: 15px;
    left: 0px;
    top: -10px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.846154px;
    text-decoration: none;
    
    color: #FFFFFF;
    }

.lihome_1 {
    text-decoration: none;
    color: #FFFFFF;
}

.lihome__1 {
    position: absolute;
    width: 52px;
    height: 75px;
    left: 110px;
    top: 25px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    /* or 227% */
    
    display: flex;
    align-items: left;
    letter-spacing: 0.846154px;
    flex-direction: column;
    
    color: #FFFFFF;
    }

.lihome__2 {
    position: absolute;
    width: 62px;
    height: 75px;
    left: 200px;
    top: 25px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    /* or 227% */
    
    display: flex;
    align-items: left;
    letter-spacing: 0.846154px;
    flex-direction: column;
    
    color: #FFFFFF;
    }

.foorest__3 {
    position: absolute;
    width: 141px;
    height: 158px;
    left: 890px;
    top: 42px;
    display: flex;
    align-items: left;
    }

.lihome_1-1 {
    position: absolute;
    width: 141px;
    height: 128px;
    left: 0px;
    top: 5px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    /* or 145% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.846154px;
    
    color: #FFFFFF;
    }

.lihome_11 {
    position: absolute;
    width: 75px;
    height: 15px;
    left: 0px;
    top: -15px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.846154px;
    text-decoration: none;
    
    color: #FFFFFF;
    }

.socials {
    position: absolute;
    width: 87px;
    height: 13px;
    left: 1077px;
    top: 58px;
    }

.socials_1 {
    position: absolute;
    width: 12.04px;
    height: 12.04px;
    left: 0.48px;
    top: 0.48px;
    
    /* background: #FFFFFF; */
}

.socials_2 {
    position: absolute;
    width: 12.04px;
    height: 12.04px;
    left: 37.47px;
    top: 0.76px;
    
    /* background: #FFFFFF; */
}

.socials_3 {
    position: absolute;
    width: 12.04px;
    height: 12.04px;
    left: 74.18px;
    top: 0.76px;
    
    /* background: #FFFFFF; */
}

.copyr {
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 239px;

    background: #171819;
}

.copyr_1 {
        position: absolute;
        width: 308px;
        height: 15px;
        left: 571px;
        top: 11px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height */
        
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.846154px;
        
        color: #FFFFFF;
}

.colortext {
    color: #00A4E5;
}
